---
---

body {
    font-family: ui-rounded, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #000;
    color: #FFF;
    * {
        font-size: 1.5rem;
        color: inherit;
        font-weight: normal;
    }
    a {
        text-decoration: none;
        color: rgb(0,122,255);
        &[href~="mailto"] {
            color: rgb(123, 255, 0);
        }
    }
    section {
        max-width: 800px;
        margin: auto;
        padding-top: 1rem;
    }
    h1 {
        text-align: center;
    }
    h2 {
        color: rgb(255,45,85);
    }

}